@import url(https://fonts.googleapis.com/css?family=Open+Sans);

{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  padding : 10px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #a2a6a9;
  color: white;
}

td {
  background-color : #F0EDE5;
  color: black;

}

table {
  box-shadow : 5px 5px;
  width: 70%;
  font-family: 'Open Sans', sans-serif;
  border-radius : 10px;

}

body {
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Open Sans', sans-serif;
}

tbody{
  background: white;
}

.search {
  width: 100%;
  position: relative
  margin : 10px;
}

.searchTerm {
  width: 30%;
  border: 3px solid ##ffa64d;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: ##ffa64d;
}

.searchTerm:focus{
  color: ##ffa64d;
}

.wrap{
  width: 100%;
  position: relative;
}

.heading{
color:white;
}

